.card {
  width: 200px;
  padding: 30px 14px 15px;

  display: grid;
  align-items: center;

  background: $color-background;
  border: $card-border-color;
  border-radius: 5px;

  &__photo {
    justify-self: center;
  }

  &__img {
    display: block;
    width: 160px;
    height: 134px;
  }

  &__title {
    margin-top: 45px;
    font-style: normal;
    font-weight: 500;
    font-size: $font-size-s;
    line-height: 15px;
  }

  &__code {
    align-self: start;
    margin-top: 5px;
    font-size: 11px;
    line-height: 13px;
  }
  
  &__reaction {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    width: 100%;
    margin-top: 15px;
    align-items: center;
  }

  &__comment {
    font-size: 11px;
    line-height: 13px;
    justify-self: end;
  }

  &__price {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: end;

    width: 100%;
    margin-top: 20px;

    font-size: 11px;
    line-height: 13px;
  }

  &__cost {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    justify-self: end;
  }

  &__link {
    width: 100%;
    height: 40px;
    margin-top: 20px;

    text-decoration: none;
    text-transform: uppercase;
    text-align: center;

    font-weight: bold;
    font-size: 14px;
    line-height: 40px;

    background: $color-link;
    color: $color-background;
    
    border: 1px solid $color-link;
    border-radius: 5px;
  }

  &__link:hover {
    background: $color-background;
    color: $color-link;
  }
}
