.nav {
  line-height: 60px;

  &__list {
    display: grid;
    justify-content: end;
    grid-template-columns: repeat(8,1fr);
    
    list-style: none;
    white-space: nowrap;
  }

  &__link {
    text-decoration: none;
    padding: 23px 0;
    margin-left: 20px;
    color: $color-text;
  }

  &__link:hover {
    color: $color-link;
  }
}

.is-active {
  padding-bottom: 18.5px;
  border-bottom: 4px solid;
  margin-left: 0;
  color: $color-link;
}
